@keyframes icon-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0;
}

.main-body {
  transition: fill 0.3s 0.05s;
}

.contour {
  transition: fill 0.3s 0.06s;
}

/* Hover */

.like-icon:hover .core {
  fill: currentColor;
  transition: fill 0 0.03s;
}

.like-icon:hover .main-body {
  fill: currentColor;
  transition: fill 0.3 0;
}


/* Active */

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
}


/* Liked */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.1s 0 linear;
}

.like-icon.is-liked .heart {
  animation: icon-scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s 1;
}